// File: _variables
// This file stores all variables used on the site

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
// Code here

/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
$white: #ffffff;
$black: #000000;

/*-- Breakpoint --*/
$mobile: 680px;
$tablet: 1024px;
